{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'firstapp/css/style.css' %}">
</head>
<body>
    <h1>Hello, Guru how are you?</h1>
    <h1>Hi, Mahesh I am fine. How are you?</h1>



    <p>hello  </p>
    <h2>Ha ji</h2>
    <h3>Ha ji</h3>
    dsfad
    dsafdasuh
    <h1>Hi, Mahesh I am fine. How are you?</h1>
    <h1>Hi, Mahesh I am fine. How are you?</h1>
    <h1>Hi, Mahesh I am fine. How are you?</h1>
    dfksadjfkdsfkljdsl
    <h1>Hi guru  github is very good</h1>
    
</body>
</html>